.header-pretitle {
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #95aac9
}
.header-body {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e3ebf6
}