<% provide(:title, 'New User') %>
<% provide(:button_text, 'Create') %>
<div class="container">
  <h1>New Users</h1>
  <div class="col-md-6   ">
    <%= render 'form', user: @user %>
    <%= link_to 'Back', admin_users_path, class: "btn btn-outline-warning" %>
  </div>
</div>
